www.askeric-nlp.theeric.dev {
    redir https://askeric-nlp.theeric.dev{uri} 307
}

askeric-nlp.theeric.dev {
    root * /var/www

    @seo_files path /sitemap.xml /robots.txt /google00adf9179f7c17ef.html
    handle @seo_files {
        file_server
    }

    reverse_proxy askeric-nlp:8000
}